.card {
  margin-bottom: 30px;
}

.card img {
  aspect-ratio: 395.5/263.656;
  object-fit: cover;
}

.card-footer {
  padding: 0;
}

.card-footer button {
  cursor: pointer;
}

@media (max-width: 575px) {
  .card img {
    width: auto;
  }
}
