#shopping-cart {
  white-space: nowrap;
  padding-right: 1rem;
}

.dropdown-toggle {
  cursor: pointer;
}

#category-dropdown {
  display: none;
  text-align: right;
}

#dropdown-list {
  margin-left: 1rem;
}

.dropdown-menu {
  left: unset;
  right: 0;
}

@media (max-width: 767px) {
  #user-dropdown {
    text-overflow: ellipsis;
    overflow-x: hidden;
  }

  #dropdown-list {
    overflow-x: hidden;
  }

  #category-dropdown {
    display: block;
  }
}
