<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <div class="container align-items-stretch flex-nowrap">
    <a class="navbar-brand" routerLink="/">
      <i class="fas fa-leaf"></i>
    </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/shopping-cart" id="shopping-cart">
          <i class="fas fa-shopping-cart"></i>
          <span *ngIf="cart$ | async as cart" class="badge badge-warning badge-pill">
            {{ cart.totalItemsCount }}
          </span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav" id="category-dropdown-list" [hidden]="hideCategories">
      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle
          id="category-dropdown"
          class="nav-link dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Categories:
        </a>
        <div ngbDropdownMenu class="dropdown-menu">
          <a routerLink="/" class="dropdown-item" [class.active]="category === null">
            All Categories
          </a>
          <a
            *ngFor="let c of categories$ | async"
            routerLink="/"
            [queryParams]="{ category: c.key }"
            class="dropdown-item"
            [class.active]="category === c.key"
          >
            {{ c.payload.val().name }}
          </a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav" id="dropdown-list">
      <ng-template #anonymousUser>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ng-template>
      <li ngbDropdown *ngIf="appUser; else anonymousUser" class="nav-item dropdown">
        <a ngbDropdownToggle
          id="user-dropdown"
          class="nav-link dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{ appUser.name }}
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="user-dropdown">
          <a class="dropdown-item" routerLink="my/orders">My Orders</a>
          <ng-container *ngIf="appUser.isAdmin">
            <a class="dropdown-item" routerLink="admin/orders">Manage Orders</a>
            <a class="dropdown-item" routerLink="admin/products">Manage Products</a>
          </ng-container>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
