<p>
  <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>
<p>
  <input
    #query
    (keyup)="filter(query.value)"
    type="text"
    class="form-control"
    placeholder="Search...">
</p>

<ngx-datatable class="material"
  [rows]="rows"
  [columns]="[{ name: 'Title', width: 250 }, { name: 'Price' }, { name: 'Edit', sortable: false }]"
  [limit]="10"
  [headerHeight]="50"
  [footerHeight]="50"
  rowHeight="auto"
>
</ngx-datatable>

<!-- <table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of filteredProducts">
      <td> {{ p.payload.val().title }} </td>
      <td> {{ p.payload.val().price }} </td>
      <td>
        <a [routerLink]="['/admin/products/', p.key]">Edit</a>
      </td>
    </tr>
  </tbody>
</table> -->
