<p>
  <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>
<p>
  <input
    #query
    (keyup)="filter(query.value)"
    type="text"
    class="form-control"
    placeholder="Search...">
</p>

<ngx-datatable class="material"
  [rows]="rows"
  [columnMode]="ColumnMode.flex"
  limit="10"
  headerHeight="50"
  footerHeight="50"
  rowHeight="auto"
>
  <ngx-datatable-column name="Title" [flexGrow]="3"></ngx-datatable-column>
  <ngx-datatable-column name="Price" [flexGrow]="1"></ngx-datatable-column>
  <ngx-datatable-column name="Edit" [flexGrow]="1" sortable="false">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <a [routerLink]="value">Edit</a>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
